*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: lato;
    color: #333;
}
header{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7) )  , url(../images/hero.jpg) ;
}
.logo{
    height: 100px;
    margin-top: 20px;
    float: left;
}
.main-nav{
    list-style: none;
    margin-top: 55px;
    float: right;
}
.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.main-nav li a:hover{
    color: orange;
    text-decoration: underline;
}
.hero-box{
    position: absolute;left: 10%; top: 40%;
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight:lighter;
    margin-bottom: 30px;
}
.btn:link , .btn:visited{
    border: solid orange 1px;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: orange;
}
.btn:hover , .btn:active{
    color: white;
    background-color: orange;
}
section{
    padding: 40px 0px;
}
h2{
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}
h2::after{
    content: '';
    display: block;
    width: 10%;
    height: 5px;
    background-color: orange;
    margin: 30px auto;
}
/*hr{
    width: 10%;
    margin: 10px auto;
    border: 3px solid orange;
    background-color: orange;
}*/
.features-info{
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.box{
    margin-bottom: 10px;
}
.box i{
    color: orange;
    font-size: 50px;
    margin-left: 100px;
}
.box h3{
    text-align: center;
    margin: 15px 0;
    font-size: 1.5rem;
}
.box p{
    text-align: justify;
}
.meals{
    padding: 0;
}
.meal{
    padding: 0;
    background-color: black;
}
.meal img{
    width: 100%;
    opacity: .6;
    transition: 1s;
    transform: scale(1.1);

}
.meal img:hover{
    opacity: 1;
    transform: scale(1);
}
#works{
    background-color: #f3f3f3;
}
.work:first-child{
    text-align: right;
}
.iphone{
    width: 40%;
}
.work:last-child{
    text-align: left;
    padding-top: 70px;
}
.step{
    display: flex;
    margin-bottom: 30px;
}
.step div{
    width: 50px;height: 50px;
    border:solid orange 2px;
    border-radius: 50%;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: center;
    padding: 13px;
    font-weight: bold;
}
.step p{
    font-size: 20px;
}
.download{
    border: 0;
    margin-right: 20px;
}
.download img{
    height: 50px;
}
.city img{
    width: 100%;
    margin-bottom: 10px;
}
.city h3{
    width: 100%;
    margin-bottom: 10px;
}
.city-info{
    display: flex;
    margin-bottom: 10px;
}
.city-info i{
    color: orange;
    margin-right: 15px;
}
.city-info a{
    color: orange;
}
.testimonials{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url(../images/back-customers.jpg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.testimonials i{
    font-size: 1.2rem;
    margin-bottom: 25px;
    margin-left: -25px;
}
.testimonials p{
    line-height: 1.5rem;
    margin-bottom: 25px;

}
.testimonials img{
    width: 50px;height: 50px;
    border-radius: 50%; margin-right: 15px;
    vertical-align: middle;
}
.sign{
    background-color: rgb(236, 231, 231);
}
.depart1, .depart2,.depart3{
    background-color: white;
    padding: 5px;
    margin-bottom: 0;
}
.upper{
    margin-bottom: 20px;
    background-color: white;
}
span{
    color: orange;
    font-size: 30px;
    font-weight: lighter;
    display: block;
    padding: 10px;
    
}
.middle{
    border-bottom: solid 2px white;
    margin-bottom: 50px;
    border-bottom: solid 3px rgb(236, 231, 231);
}
.middle i{
    display:flex;
    line-height: 2.5rem;
    color: orange;
}
.paragh{
    color: black;
    margin-left: 20px;
}
.down{
    text-align: center;
}
label{
    color: orange;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type=text] ,input[type=email] , select , textarea{
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 2px orange;
    outline: none;
}
input[type=checkbox]{
    margin-bottom: 10px;
}
button{
    border: solid orange 1px;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
    color: orange;
    background-color: white;
}
button:hover{
    color: white;
    background-color:orange;
}
footer{
    padding: 20px 0;
    background-color: #333;
    color: #f3f3f3;
}
footer p{
    text-align: center;
    margin-top: 20px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.footer-nav li{
    display: inline-block;
    margin-left: 10px;
}
.footer-nav li a{
    color: #fff;
    text-decoration: none;
}
.footer-nav li a:hover{
    color: orange;
    text-decoration: underline;
}
.social-nav{
    list-style: none;
    float: right;
}
.social-nav li{
    display: inline-block;
    margin-left: 20px;
}
.social-nav li a{
    color: #fff;
    text-decoration: none;
}
.social-nav li a:hover{
    color: orange;
    text-decoration: underline;
}